
# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next
out
build
dist

# Production
.vercel
.turbo

# Misc
.DS_Store
*.pem
*.pdf
*.pdf:Zone.Identifier

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env*.local
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
Thumbs.db

# Prisma
prisma/migrations/**/migration.sql

# Media processing
temp_*
uploads_temp/
